@using ihff_project.Models;
@model AllFilmInfo

@{
    ViewBag.Title = "FilmDetail";
}

<h2>
    @Model.film.Film_Naam -
    @if (Model.product.Prijs == 0)
    {
        @:Free
}
    else
    {
        @: €@string.Format("{0:0.00}", Model.product.Prijs)
}
</h2>
<hr />
<div class="row">
    <div class="col-md-3">
        <p>
            <img src="@Model.film.Image_path" alt="Movie image" width="250" />
        </p>
    </div>
    <div class="col-md-4">
        <h4><label>Movie summary</label></h4>
        <p>
            @Model.film.Beschrijving_EN
        </p>
    </div>

    <div class="col-md-3">
        <h4><label>Plays from @string.Format("{0:hh\\:mm}", Model.voorstelling.Start_Tijd) until @string.Format("{0:hh\\:mm}", Model.voorstelling.Eind_Tijd) in @Model.locatie.Locatie_Naam</label></h4>
        <div id="map" style="width:100%;height:300px"></div>

        <script>
            function myMap() {
                var myCenter = new google.maps.LatLng(52.3815268, 4.63865060000001);
                var mapCanvas = document.getElementById("map");
                var mapOptions = { center: myCenter, zoom: 12 };
                var map = new google.maps.Map(mapCanvas, mapOptions);
                var marker = new google.maps.Marker({ position: myCenter });
                marker.setMap(map);

                var infowindow = new google.maps.InfoWindow({
                    content: "Philharmonie"
                });
                infowindow.open(map, marker);
            }

        </script><br \>
        <h4><label>Actors</label></h4>
        @Model.film.Acteurs <br \><br \>
        <h4><label>Genre</label></h4>
        @Model.film.Genre <br \><br \>
        <h4><label>IMdB Rating</label></h4>
        @Model.film.IMDb_rating <br \>
        <div class="EventBuyButtonGroup">
            <button class="btn btn-default AddToShoppingCart" id="pr-@Model.product.Product_ID">Buy now</button>
            <button class="btn btn-default AddToProgramme" id="pr-@Model.product.Product_ID">Add to programme</button>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDefQwLbd0bgfj70rf9EOlWK-ZSsTIEJcM&callback=myMap"></script>


<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function () {
    refreshFunc();
    jQuery(".AddToProgramme").click(function (e) {
        var day = '';
        var strRestId = "" + (e.target.id);
        var serviceURL = '/Product/AddToProgramme';

        jQuery.ajax({
            type: "POST",
            url: serviceURL,
            dataType: "json",

            data: {idstr:strRestId},
            success: function (data) {
                refreshFunc();
            },
            error: errorFunc
        });


        function errorFunc() {
            alert('An error has occurred while proccessing your request. Please try again later or contact the site admin.');
        }

    });
    jQuery(".AddToShoppingCart").click(function (e) {
        var strRestId = "" + (e.target.id);
        var serviceURL = '/Product/AddToCart';

        jQuery.ajax({
            type: "POST",
            url: serviceURL,
            dataType: "json",

            data: { idstr: strRestId },
            success: function (data) {
                refreshFunc();
            },
            error: errorFunc
        });


        function errorFunc() {
            alert('An error has occurred while proccessing your request. Please try again later or contact the site admin.');
        }

    });

    jQuery(".AddToCart").click(function (e) {
        var serviceURL = '@Url.Action("AddToCart","Product")'
        jQuery.ajax({
            type: "GET",
            url: serviceURL,
            contentType: 'application/json',

            success: function (data) {
                refreshFunc();
                location.href = '@Url.Action("ShoppingCart","Product")';
            },
            error: errorFunc
        });


        function errorFunc() {
            alert('An error has occurred while proccessing your request. Please try again later or contact the site admin.');
        }

    });
});

function refreshFunc() {
    var serviceURL = '@Url.Action("RefreshPersonalProgramme", "Product")';

    jQuery.ajax({
        type: "GET",
        url: serviceURL,
        contentType: 'application/json',
        success: function (data) {
            jQuery(".PersonalProgrammeBox-Content").html(data)

        },
        error: function (data) {

            alert("An error has occurred while proccessing your request. Please try again later or contact the site admin.");
        }
    });


}
    jQuery("body").on('click', '.DeleteProductBtn', function (e) {
        var strRestId = (e.target.id);

        var serviceURL = '@Url.Action("RemoveFromProgramme", "Product")';

        jQuery.ajax({
            type: "POST",
            url: serviceURL,
            dataType: "json",

            data: { productId: strRestId },
            success: function (data) {
                refreshFunc();

            },
            error: errorFunc
        });


        function errorFunc() {
            alert('An error has occurred while proccessing your request. Please try again later or contact the site admin.');
        }
    });


</script>


